.FacetedNavigationDesktop {
  margin-right: .3rem;
  display: inline;
  width: 100%;
}

.FacetedNavigationDesktop__Toggle {
  display: none;
}

.FacetedNavigationDesktop__Modal {
  background-color: var(--cc-background-color);
  color: var(--cc-color);
  display: block;
  height: 100%;
  min-width: 265px;
  right: 0;
  outline: 0;
  overflow: hidden;
  overflow-y: auto;
  position: fixed;
  transform: translateX(100%);
  white-space: normal;
  width: 90%;
  top: 0;
  z-index: var(--cc-modal-z-index);
  visibility: hidden;
}

.FacetedNavigationDesktop__Toggle:checked ~ .FacetedNavigationMobile__Modal {
  box-shadow: 4px 0 10px 0 rgba(0, 0, 0, .4);
  transform: translate(0, 0);
  transition: transform var(--cc-transition);
  visibility: visible;
}

.FacetedNavigationDesktop__Backdrop {
  display: none;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: opacity var(--cc-transition);
  width: 100%;
  z-index: var(--cc-modal-backdrop-z-index);
}

.FacetedNavigationDesktop__Toggle:checked ~ .FacetedNavigationMobile__Backdrop {
  background-color: var(--cc-modal-backdrop);
  opacity: 1;
  display: block;
}

.FacetedNavigationDesktop__Content {
  display: block;
  text-align: left;
  color: var(--cc-color);
}

.FacetedNavigationDesktop__ResetLink,
.FacetedNavigationDesktop__ResetLink:hover,
.FacetedNavigationDesktop__ResetLink:active {
  display: block;
  text-decoration: underline;
  color: var(--cc-color);
  font-size: var(--cc-font-size-small);
  padding-bottom: .5rem;
}

.FacetedNavigationDesktop__ResetLink:hover,
.FacetedNavigationDesktop__ResetLink:active {
  color: var(--cc-color);
}

.RefinementMenu__SelectedRefinement,
.RefinementMenu__Refinement {
  display: block;
}

.FacetedNavigationDesktop .RefinementMenu__Refinements {
  max-height: 210px;
  flex-direction: column;
  overflow-y: auto;
  flex-basis: 100%;
}

.Navigation__Divider {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--cc-border-color);
}
